In [20]:
import pandas as pd
import sys
import os
import numpy as np
import re

In [21]:
df_prefix = pd.read_csv('item_no_prefix_name.csv')
df_item = pd.read_csv('item_no.csv', encoding='latin1')

In [22]:
df_prefix.drop(columns=['Unnamed: 0'], inplace=True)
df_prefix.head()

   item_no prefix_no   prefix_name
0  1453200        01  TUBE & CLAMP
1   151801        01  TUBE & CLAMP
2   151802        01  TUBE & CLAMP
3   228001        01  TUBE & CLAMP
4   229001        01  TUBE & CLAMP

In [23]:
df_item.head()

    item_no                   description
0       760           FILLER 5 X 2FT 7 GA
1   2607016       BOLT M16X70 DIN-933-8.8
2    608625                IK WALER M 250
3  HDTM1115  HEX COUPLER W/ STOP PIN 15MM
4   2622102            WALER -120 / 2,625

In [24]:
# Initialize match_flag column
df_item['match_flag'] = 0

for _, row in df_prefix.iterrows():
    item = row['item_no']
    match_mask = df_item['item_no'].str.casefold().fillna('').eq(item.casefold())

    # Only update unmatched rows to avoid overwriting
    unmatched = df_item['match_flag'] == 0
    update_mask = match_mask & unmatched

    df_item.loc[update_mask, 'matched_item_no'] = item
    df_item.loc[update_mask, 'match_flag'] = 1

In [25]:
df_item['match_flag'].sum()

np.int64(4416)